# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\OneDrive VAQR_8066\OneDrive - Kormányzati Informatikai Fejlesztési Ügynökség\Iskola\S3\Prog3\NHF\CyberSwordGame - Progressive Assimilation\Programming CSG\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
